# Database connection string (SQLite file for local, or cloud DB like Turso / PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# Secret key for authentication token signing
AUTH_SECRET="beres-in-super-secret-auth-key-2026-secure"
